*{
    padding: 0px;
    margin: 0px;
    
    }

   
    body{
    background-size: cover;
    background-repeat: no-repeat;
    
    }
    .container
    {
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        
    }
   
    .login-form
    {
        border: solid 1px;
     height: 350px;
     width: 270px;
     border-radius:10px ;
     display :flex ;
     flex-direction: column;
     align-items: center;
     padding-top: 60px;
    }
