<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h2>  PUSTHAKAM.IN</h2>
            <p class="lead">knowledge everywhere...</p>
          
        </div>
        
        
      </div> 
    </div>
    
  </div><div class="container">
    <div class="wrapper">
                
            <form action="/login" onsubmit="return validate();" >
              <div class="heading">SIGNUP</div>
              
  
              <div class="form-group">
                  <label for="username" class="labels">Username:</label>
                  <br>
                  <input onkeyup="toggle();" type="text" name="username" class="form-control formbar w3-input" placeholder="john" id="user">
                  <br>
                 
              </div>
  
              <br>
              <div class="form-group">
                  <label for="email" class="labels">Email:</label>
                  <br>
                  <input onkeyup="toggle();" type="text" name="email" class="form-control formbar w3-input" placeholder="xyz@domain.com" id="email">
                  <br>
                  <label for="emailError" id="emailError"></label>
              </div>
                      
            
              
              <br>
              <div class="form-group">
                  <label for="password" class="labels">Password</label>
                  <br>
                  <input onkeyup="toggle();" type="password" name="password" placeholder="Password" id="pwd" class="form-control formbar w3-input">
                  <br>
                  <label for="pwderror" id="pwderror"></label>
                  </div>
             
                  <br>
                  <div class="form-group">
                      <label for="password" class="labels">Repeat Password</label>
                      <br>
                      <input onkeyup="toggle();" type="password" name="password" placeholder="Password" id="pwd1" class="form-control formbar w3-input">
                      <br>
                      <label for="pwd1error" id="pwd1error"></label>
                      
                </div>

                      <div class="form-group">
                        <label for="phonenumber" class="labels">Phone number:</label>
                        <br>
                        <input onkeyup="toggle();" type="text" name="phonenumber" class="form-control formbar w3-input" placeholder="xxxxxxxxxx" id="phonenumber">
                        <br>
                        <label for="phonenumbererror" id="phonenumbererror"></label>
                    
                     
                  </div>
             <br>
             <br>
             <br>
  
                      <br>
                      <br>
  
             
                  <button type="submit" class="btn btn-primary" id="buttn" >REGISTER</button>
               
          </form>
        </div>
        </div>
        <script>
            let email = document.getElementById("email");
            let pwd = document.getElementById("pwd");
            let pwd1 = document.getElementById("pwd1");
            let user = document.getElementById("user");
            
            let emailError = document.getElementById("emailError");
            let pwderror = document.getElementById("pwderror");
            let pwd1error = document.getElementById("pwd1error");
            let phonenumber = document.getElementById("phonenumber");
            
            function validate(){
                let emregexp = /^([A-Za-z0-9\.-]+)@([A-Za-z0-9\-]+).([a-z]{2,3})(.[a-z]{2,3})?$/;
                let pwdexp = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
               let phonenumberexp = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
               
            
                if(email.value == ""||pwd.value == ""||pwd1.value == ""||user.value ==""){
                        alert("Fields cannot be empty");
                        return false;
                }
            
                else if(!emregexp.test(email.value)){
                        emailError.innerHTML = "**Please add a valid email address";
                        emailError.style.color= "red";
                        email.style.border = "2px solid red";   
                        return false;
                }
               
                else if(!pwd.value.match(pwdexp)){
                    pwderror.innerHTML = "**Password must be between 8 to 15 characters with at least one lowercase letter, one uppercase letter, one numeric digit, and one special character";
                    pwderror.style.color = "red";
                    pwd.style.border = "2px solid red";
                    return false;
                }
                else if(!pwd1.value.match(pwd.value) ){
                    pwd1error.innerHTML = "Password doesn't match";
                    pwd1error.style.color = "red";
                    pwd1.style.border = "2px solid red";
                    return false;
                }
                else if(!phonenumber.value.match(phonenumberexp)){
                        phonenumbererror.innerHTML = "**Please add a valid phone number";
                        phonenumbererror.style.color= "red";
                        phonenumber.style.border = "2px solid red";   
                        return false;
                }
                else{
                    return true;
                }
            }
            
              </script>
            <!-- /loign form -->
            
            
            <!-- <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a> -->
          
            
                         
