

<div class="container" style="padding: 10px;">
  
          
          
        
    <!--/stories-->
    
   
    
    
    <div class="card card text-white bg-secondary mb-4 g-4" style= "border: 2px solid beige; padding: 40px; margin-left:10%;background-color:rgba(0,0,0,0.5);">
      
      <div class="row g-4">
        <div class="col-md-4 text-white">
          <img src="/images/<%=books[i].img%>" style="width:200px;height:200px" alt="...">
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <h3 class="card-title"><%=books[i].title%></h3>
            <h4><span class="label label-default"><%=books[i].author%> </span></h4>
            <div class="text-white" style="font-family:courier,'new courier'; color: aliceblue;" >• <%=books[i].genre%> 
            </div>
             
            
          </div>
          <br>
          <br>
          <button class="btn-primary"><a href="/books/<%=i%>" >READ MORE</a></button> 
          <br>
          <br>
        <button class="btn-success"><a href="/edit">EDIT</a></button> 
          <br>
          <br>
        <button class="btn-danger"><a href="/books/<%=books[i]._id%>" >DELETE</a></button> 
          
      </div>
      </div>
      </div>


      <div class="card card text-white bg-secondary mb-4 g-4" style= "border: 2px solid beige; padding: 40px; margin-left:10%;background-color:rgba(0,0,0,0.5);">
      
        <div class="row g-4">
          <div class="col-md-4 text-white">
            <img src="/images/<%=books[i].img%>" style="width:200px;height:200px" alt="...">
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h3 class="card-title"><%=books[i].title%></h3>
              <h4><span class="label label-default"><%=books[i].author%> </span></h4>
              <div class="text-white" style="font-family:courier,'new courier'; color: aliceblue;" >• <%=books[i].genre%> 
              </div>
               
              
            </div>
            <br>
            <br>
            <button class="btn-primary"><a href="/books/<%=i%>" >READ MORE</a></button> 
            <br>
            <br>
          <button class="btn-success"><a href="/edit">EDIT</a></button> 
            <br>
            <br>
          <button class="btn-danger"><a href="/books/<%=books[i]._id%>" >DELETE</a></button> 
            
        </div>
        </div>
        </div>

        <div class="card card text-white bg-secondary mb-4 g-4" style= "border: 2px solid beige; padding: 40px; margin-left:10%;background-color:rgba(0,0,0,0.5);">
      
            <div class="row g-4">
              <div class="col-md-4 text-white">
                <img src="/images/<%=books[i].img%>" style="width:200px;height:200px" alt="...">
              </div>
              <div class="col-md-4">
                <div class="card-body">
                  <h3 class="card-title"><%=books[i].title%></h3>
                  <h4><span class="label label-default"><%=books[i].author%> </span></h4>
                  <div class="text-white" style="font-family:courier,'new courier'; color: aliceblue;" >• <%=books[i].genre%> 
                  </div>
                   
                  
                </div>
                <br>
                <br>
                <button class="btn-primary"><a href="/books/<%=i%>" >READ MORE</a></button> 
                <br>
                <br>
              <button class="btn-success"><a href="/edit">EDIT</a></button> 
                <br>
                <br>
              <button class="btn-danger"><a href="/books/<%=books[i]._id%>" >DELETE</a></button> 
                
            </div>
            </div>
            </div>


  
    <hr>
    <!--/stories-->
    </div>
  
    

