<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h1>Add Author
            <p class="lead"></p>
          </h1>
        </div>
        
      </div> 
    </div><!-- /cont -->
    
    <!-- /cont -->
    
  </div>
<div class="container">
    <div class="row form">   
        <div class="col-md-4"></div>
                <div class="col-md-4"> 
      <form action="authors" method="GET" class="bg-light">
          <div class="form-group">  
              Name of the author:<input  type="text" name="aname" class="form-control formbar w3-input" placeholder="Name of the author" id="author">
              <br>
              <label for="authorError" id="authorError"></label>

          </div>
          <br>
          <div class="form-group">
              Nationality:<input type="text" name="nation" class="form-control formbar w3-input" placeholder="Nationality" id="nationality">
              <br>
              <label for="nationError" id="nationError"></label>

          </div>
          
          <br>
          <div class="form-group">
             Genre:<input type="text" name="genre" class="form-control formbar w3-input" placeholder="Genre" id="genre">
             <br>
             <label for="genreError" id="genreError"></label>

          </div>
          
          <br>
          <div class="form-group">
             Image: <input type="file" name="image"  class="form-control formbar w3-input">
          
              </div>
              
              

              
          
          
          
          
              <button type="submit" class="btn btn-primary" id="buttn" >Add Author</button>
           
      </form>
    </div> 
    <div class="col-md-4"></div>
    </div>
  </div>
    <hr>
    
    
