
<div class="container " style="width:100% ; align-content: center; ">
 
    
  
          
          
          
    <!--/stories-->
    
   
    <div class="card card text-white bg-secondary mb-4 g-4 " style="border: 2px solid beige; padding: 80px; margin-left:10%;background-color:rgba(0,0,0,0.5); width:50%">
      <img src="./images/<%=authors[i].img%>" style="width:200px;height:200px"class="card-img" alt="...">
      <div class="card-body">
        <h3 class="card-title"><%=authors[i].author%> </h3>
        
      
      </div>
      <br>
      <br>
      <button class="btn-primary"><a href="/author/<%=i%>" >READ MORE</a></button> 
      <br>
      <br>
    <button class="btn-success"><a href="/edit">EDIT</a></button> 
      <br>
      <br>
    <button class="btn-danger"><a href="" >DELETE</a></button> 
      
    </div>
    
    

    <hr>

    <div class="card card text-white bg-secondary mb-4 g-4 " style="border: 2px solid beige; padding: 80px; margin-left:10%;background-color:rgba(0,0,0,0.5); width:50%">
        <img src="./images/<%=authors[i].img%>" style="width:200px;height:200px"class="card-img" alt="...">
        <div class="card-body">
          <h3 class="card-title"><%=authors[i].author%> </h3>
          
        
        </div>
        <br>
        <br>
        <button class="btn-primary"><a href="/author/<%=i%>" >READ MORE</a></button> 
        <br>
        <br>
      <button class="btn-success"><a href="/edit">EDIT</a></button> 
        <br>
        <br>
      <button class="btn-danger"><a href="" >DELETE</a></button> 
        
      </div>
      
      
  
      <hr>

        <div class="card card text-white bg-secondary mb-4 g-4 " style="border: 2px solid beige; padding: 80px; margin-left:10%;background-color:rgba(0,0,0,0.5); width:50%">
      <img src="./images/<%=authors[i].img%>" style="width:200px;height:200px"class="card-img" alt="...">
      <div class="card-body">
        <h3 class="card-title"><%=authors[i].author%> </h3>
        
      
      </div>
      <br>
      <br>
      <button class="btn-primary"><a href="/author/<%=i%>" >READ MORE</a></button> 
      <br>
      <br>
    <button class="btn-success"><a href="/edit">EDIT</a></button> 
      <br>
      <br>
    <button class="btn-danger"><a href="" >DELETE</a></button> 
      
    </div>
    
    

    <hr>
    <!--/stories-->
    
</div>






                                                                                 
                                              
                                                
 
